<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
	  <key>header</key>
	  <string>非常食</string>
	  <key>data</key>
	  <array>
	  <dict>
	    <key>item</key>
	    <string>水</string>
	    <key>detail</key>
	    <string>1人1日あたり3ℓ</string>
	    <key>image</key>
	    <string>pb29.png</string>
	    <key>code</key>
	    <string>Water</string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>食料</string>
	    <key>detail</key>
	    <string>乾パン、缶詰、レトルトなど</string>
	    <key>image</key>
	    <string>pan29.png</string>
	    <key>code</key>
	    <string>Dietary</string>
	  </dict>
	  </array>
	</dict>
	<dict>
	  <key>header</key>
	  <string>衣類</string>
	  <key>data</key>
	  <array>
	  <dict>
	    <key>item</key>
	    <string>ヘルメット</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string>helmet29.png</string>
	    <key>code</key>
	    <string>Helmet</string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>マスク</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string>mask29.png</string>
	    <key>code</key>
	    <string>Mask</string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>メガネ</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	    <key>code</key>
	    <string>Glasses</string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>コンタクトレンズ</string>
	    <key>detail</key>
	    <string>保存液を含む</string>
	    <key>image</key>
	    <string></string>
	    <key>code</key>
	    <string>ContactLens</string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>雨具、防寒具</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	    <key>code</key>
	    <string>RainGear</string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>下着・靴下</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	    <key>code</key>
	    <string>Underwear</string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>ティッシュ・タオル</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	    <key>code</key>
	    <string>Tissue</string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>生理用品</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	    <key>code</key>
	    <string>SanitaryGoods</string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>おむつ</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	    <key>code</key>
	    <string>Nappy</string>
	  </dict>
	  </array>
	</dict>
	<dict>
	  <key>header</key>
	  <string>防災用品</string>
	  <key>data</key>
	  <array>
	  <dict>
	    <key>item</key>
	    <string>携帯ラジオ</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	    <key>code</key>
	    <string>Radio</string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>懐中電灯</string>
	    <key>detail</key>
	    <string>できれば1人に1つ</string>
	    <key>image</key>
	    <string></string>
	    <key>code</key>
	    <string>FlashLight</string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>乾電池</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	    <key>code</key>
	    <string>DryCell</string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>携帯電話の充電器</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	    <key>code</key>
	    <string>ButteryCharger</string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>ポリ袋</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	    <key>code</key>
	    <string>PlasticBag</string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>レジャーシート</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	    <key>code</key>
	    <string>Sheet</string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>ロープ</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	    <key>code</key>
	    <string>Rope</string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>軍手</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	    <key>code</key>
	    <string>Gloves</string>
	  </dict>
	  </array>
	</dict>
	<dict>
	  <key>header</key>
	  <string>救急医薬品</string>
	  <key>data</key>
	  <array>
	  <dict>
	    <key>item</key>
	    <string>常備薬</string>
	    <key>detail</key>
	    <string>持病をお持ちの方は病院から処方された薬</string>
	    <key>image</key>
	    <string></string>
	    <key>code</key>
	    <string>OfficinalDrugs</string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>簡単な救急セット</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	    <key>code</key>
	    <string>RescueMedication</string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>ウェットティッシュ</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	    <key>code</key>
	    <string>WetTissue</string>
	  </dict>
	  </array>
	</dict>
	<dict>
	  <key>header</key>
	  <string>貴重品</string>
	  <key>data</key>
	  <array>
	  <dict>
	    <key>item</key>
	    <string>現金</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	    <key>code</key>
	    <string>Money</string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>健康保険証</string>
	    <key>detail</key>
	    <string>または保険証のコピー</string>
	    <key>image</key>
	    <string></string>
	    <key>code</key>
	    <string>HealthInsuranceCard</string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>通帳・印鑑など</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	    <key>code</key>
	    <string>BankPassbook</string>
	  </dict>
	  </array>
	</dict>
</array>
</plist>
