<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
	  <key>header</key>
	  <string>食料など</string>
	  <key>data</key>
	  <array>
	  <dict>
	    <key>item</key>
	    <string>水</string>
	    <key>detail</key>
	    <string>1人あたり9ℓ程度</string>
	    <key>image</key>
	    <string></string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>食料(主食)</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>食料(副食)</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>食料(デザート)</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>缶切り・栓抜き・ナイフ</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>紙皿・割り箸・ラップ・アルミホイル</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>卓上コンロ・ガスボンベ</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	  </dict>
	  </array>
	</dict>
	<dict>
	  <key>header</key>
	  <string>衣類など</string>
	  <key>data</key>
	  <array>
	  <dict>
	    <key>item</key>
	    <string>下着類</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>衣類</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>防寒具</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>毛布または寝袋</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>使い捨てカイロや解熱シップ</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	  </dict>
	  </array>
	</dict>
	<dict>
	  <key>header</key>
	  <string>日用品</string>
	  <key>data</key>
	  <array>
	  <dict>
	    <key>item</key>
	    <string>ライター・ろうそく</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>乾電池</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	  </dict>
	  <dict>
	    <key>item</key>
	    <string>トイレットペーパー</string>
	    <key>detail</key>
	    <string></string>
	    <key>image</key>
	    <string></string>
	  </dict>
	  </array>
	</dict>
</array>
</plist>
